<!-- Footer -->
<div class="card text-center fixed-bottom">
    <div class="bouton">
    <a href="https://github.com/BlancheNeige5/API-Dog" target="_blank" class="btn btn-light justify-content-center ">GitHub de l'équipe</a>
    <a href="https://developers.giphy.com/" target="_blank" class="btn btn-light justify-content-center ">GiphyDev</a>
    <a href="https://www.w3schools.com/" target="_blank" class="btn btn-light justify-content-center ">W3C</a>
    </div>
</div>